/* Sticky footer styles
-------------------------------------------------- */
html {
  position: realative;
  min-height: 100%;
}
body{
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer-fixed-bottom {
  position: relative;
  padding-top: 10%;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  bottom: 0;
  flex: 1;
 
}